*.la
*.lo
*.o
*.exe
.deps
.libs
*~
/.gdb_history
/aclocal.m4
/autom4te.cache
/config
/config.h
/config.h.in
/config.log
/config.status
/configure
/cutter.pc
/gcutter.pc
/gdkcutter-pixbuf.pc
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libcutter.pc
/libtool
/log
/stamp-h1
Makefile
Makefile.in
/packages/rpm/centos/cutter.spec
/packages/rpm/fedora/cutter.spec
/packages/yum/centos/
/packages/yum/fedora/
/soupcutter.pc
/cppcutter.pc
/cutter/cut-config.h
/cutter/cut-diff
/doc/*.jman
/doc/*.man
/doc/reference/*.xml
/doc/reference/*.xml.ja
/packages/yum/RPM-GPG-KEY-cutter
/packages/yum/cutter.repo
/packages/yum/cutter-repository.spec
/packages/apt/repositories/
/packages/yum/repositories/
/test/lib/cuttest-echo/cuttest-echo
/*.tar.gz
/packages/*.tar.gz
/html/mini-heading-mark.png
/tmp/
/dist/
/doc/man-build.stamp
/doc/reference/tmp/
/sample/glib/iochannel-test-outfile
.gdb_history
*.pot
