Source: cutter
Priority: extra
Maintainer: Kouhei Sutou <kou@cozmixng.org>
Build-Depends: debhelper (>= 5), cdbs, autotools-dev, intltool, gtk-doc-tools, binutils-dev, libgtk2.0-dev, libgoffice-0-8-dev, libgstreamer0.10-dev
Standards-Version: 3.7.3
Section: libs
Homepage: http://cutter.sourceforge.net/

Package: cutter-testing-framework
Section: libdevel
Architecture: any
Depends: cutter-bin, libcutter-dev, libcutter-glib-dev, libcutter-gtk-dev, libcutter-report, libcutter-gst, cutter-doc
Description: Cutter testing framework suite (meta-package)
 Cutter is a xUnit family Unit Testing Framework for C.
 .
 This package depends all Cutter related package for convenience.

Package: cutter-doc
Section: libdevel
Architecture: any
Description: Documentation of Cutter
 Cutter is a xUnit family Unit Testing Framework for C.
 .
 This package provides dREADME and reference manual of Cutter.

Package: libcutter-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libglib2.0-0
Description: Development files to write tests with Cutter
 Cutter is a xUnit family Unit Testing Framework for C.
 .
 This package provides library files and header files to write tests
 with Cutter.

Package: cutter-bin
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libcutter-dev (= ${binary:Version})
Suggests: lcov
Description: A unit testing framework for C
 Cutter is a xUnit family Unit Testing Framework for C.
 .
 This package provides 'cutter' command that runs tests written for Cutter.

Package: libcutter-glib-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, cutter-bin (= ${binary:Version}), libglib2.0-dev
Description: Cutter GLib integration
 Cutter is a xUnit family Unit Testing Framework for C.
 .
 This package provides header files to write tests for Cutter with GLib support.

Package: libcutter-gtk-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libcutter-glib-dev (= ${binary:Version}), libgtk2.0-dev
Description: Cutter GTK+ integration
 Cutter is a xUnit family Unit Testing Framework for C.
 .
 This package provides GUI test runner and header files to
 write tests for Cutter with gdk-pixbuf support.

Package: libcutter-report
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, cutter-bin (= ${binary:Version}), libgoffice-0-8
Description: Test result reporting module for Cutter
 Cutter is a xUnit family Unit Testing Framework for C.
 .
 This provides a module that reports test result output by Cutter.

Package: libcutter-gst
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, cutter-bin (= ${binary:Version}), libgstreamer0.10-0
Description: Cutter GStreamer integration
 Cutter is a xUnit family Unit Testing Framework for C.
 .
 This provides GStreamer elements that stream test result of Cutter.
