#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_INSTALL_DOCS_ALL = NEWS NEWS.ja README.ja TUTORIAL TUTORIAL.ja USERS USERS.ja TODO debian/README.Debian
DEB_INSTALL_DOCS_cutter-doc = doc/cutter.rd doc/cutter.rd.ja doc/reference/

DEB_INSTALL_DIRS_cutter-doc =			\
	/usr/share/cutter			\
	/usr/share/gtk-doc

DEB_INSTALL_DIRS_libcutter-dev =		\
	/usr/include/cutter			\
	/usr/lib				\
	/usr/lib/cutter/module/ui		\
	/usr/lib/cutter/module/stream		\
	/usr/lib/cutter/module/report		\
	/usr/lib/cutter/module/factory/ui	\
	/usr/lib/cutter/module/factory/stream	\
	/usr/lib/cutter/module/factory/report	\
	/usr/lib/pkgconfig			\
	/usr/share/aclocal			\
	/usr/share/locale

DEB_INSTALL_DIRS_cutter-bin =			\
	/usr/bin				\
	/usr/lib/pkgconfig			\
	/usr/share/man/man1			\
	/usr/share/man/ja/man1

DEB_INSTALL_DIRS_libcutter-glib-dev =		\
	/usr/include/cutter/gcutter		\
	/usr/lib/pkgconfig

DEB_INSTALL_DIRS_libcutter-gtk-dev =		\
	/usr/include/cutter/gdkcutter-pixbuf	\
	/usr/lib/pkgconfig			\
	/usr/lib/cutter/module/ui		\
	/usr/lib/cutter/module/factory/ui

DEB_INSTALL_DIRS_libcutter-soup-dev =		\
	/usr/include/cutter/soupcutter		\
	/usr/lib/pkgconfig

DEB_INSTALL_DIRS_libcutter-report =		\
	/usr/lib/cutter/module/report		\
	/usr/lib/cutter/module/factory/report

DEB_INSTALL_DIRS_libcutter-gst =		\
	/usr/lib/gstreamer-0.10


install/cutter-doc::
	cp -ar debian/tmp/usr/share/cutter/stack/ \
		debian/cutter-doc/usr/share/cutter/
	cp -ar debian/tmp/usr/share/gtk-doc/* \
		debian/cutter-doc/usr/share/gtk-doc/

install/libcutter-dev::
	cp -ar debian/tmp/usr/include/cutter/cutter.h \
		debian/libcutter-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/include/cutter/cutter/ \
		debian/libcutter-dev/usr/include/cutter/

	cp -ar debian/tmp/usr/lib/cutter/module/ui/console* \
		debian/libcutter-dev/usr/lib/cutter/module/ui/
	cp -ar debian/tmp/usr/lib/cutter/module/stream/* \
		debian/libcutter-dev/usr/lib/cutter/module/stream/
	cp -ar debian/tmp/usr/lib/cutter/module/report/xml* \
		debian/libcutter-dev/usr/lib/cutter/module/report/

	cp -ar debian/tmp/usr/lib/cutter/module/factory/ui/console_* \
		debian/libcutter-dev/usr/lib/cutter/module/factory/ui/
	cp -ar debian/tmp/usr/lib/cutter/module/factory/stream/* \
		debian/libcutter-dev/usr/lib/cutter/module/factory/stream/
	cp -ar debian/tmp/usr/lib/cutter/module/factory/report/xml_* \
		debian/libcutter-dev/usr/lib/cutter/module/factory/report/

	cp -ar debian/tmp/usr/lib/libcutter* debian/libcutter-dev/usr/lib/
	cp -ar debian/tmp/usr/lib/pkgconfig/libcutter.pc \
		debian/libcutter-dev/usr/lib/pkgconfig/
	cp -ar debian/tmp/usr/share/aclocal/* \
		debian/libcutter-dev/usr/share/aclocal/
	cp -ar debian/tmp/usr/share/locale/* \
		debian/libcutter-dev/usr/share/locale/

install/cutter-bin::
	cp -ar debian/tmp/usr/bin/* debian/cutter-bin/usr/bin/
	cp -ar debian/tmp/usr/lib/pkgconfig/cutter.pc \
		debian/cutter-bin/usr/lib/pkgconfig/
	cp -ar debian/tmp/usr/share/man/man1/* \
		debian/cutter-bin/usr/share/man/man1/
	cp -ar debian/tmp/usr/share/man/ja/man1/* \
		debian/cutter-bin/usr/share/man/ja/man1/

install/libcutter-glib-dev::
	cp -ar debian/tmp/usr/include/cutter/gcutter.h \
		debian/libcutter-glib-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/include/cutter/gcutter/ \
		debian/libcutter-glib-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/lib/pkgconfig/gcutter.pc \
		debian/libcutter-glib-dev/usr/lib/pkgconfig/

install/libcutter-cpp-dev::
	cp -ar debian/tmp/usr/include/cutter/cppcutter.h \
		debian/libcutter-cpp-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/include/cutter/cppcutter/ \
		debian/libcutter-cpp-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/lib/pkgconfig/cppcutter.pc \
		debian/libcutter-cpp-dev/usr/lib/pkgconfig/

install/libcutter-gtk-dev::
	cp -ar debian/tmp/usr/lib/libgdkcutter-pixbuf* \
		debian/libcutter-gtk-dev/usr/lib/
	cp -ar debian/tmp/usr/include/cutter/gdkcutter-pixbuf.h \
		debian/libcutter-gtk-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/include/cutter/gdkcutter-pixbuf/ \
		debian/libcutter-gtk-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/lib/pkgconfig/gdkcutter-pixbuf.pc \
		debian/libcutter-gtk-dev/usr/lib/pkgconfig/

	cp -ar debian/tmp/usr/lib/cutter/module/ui/gtk* \
		debian/libcutter-gtk-dev/usr/lib/cutter/module/ui/
	cp -ar debian/tmp/usr/lib/cutter/module/factory/ui/gtk_* \
		debian/libcutter-gtk-dev/usr/lib/cutter/module/factory/ui/

install/libcutter-soup-dev::
	cp -ar debian/tmp/usr/lib/libsoup* \
		debian/libcutter-soup-dev/usr/lib/
	cp -ar debian/tmp/usr/include/cutter/soupcutter.h \
		debian/libcutter-soup-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/include/cutter/soupcutter/ \
		debian/libcutter-soup-dev/usr/include/cutter/
	cp -ar debian/tmp/usr/lib/pkgconfig/soupcutter.pc \
		debian/libcutter-soup-dev/usr/lib/pkgconfig/

install/libcutter-report::
	cp -ar debian/tmp/usr/lib/cutter/module/report/pdf* \
		debian/libcutter-report/usr/lib/cutter/module/report/
	cp -ar debian/tmp/usr/lib/cutter/module/factory/report/pdf_* \
		debian/libcutter-report/usr/lib/cutter/module/factory/report/

install/libcutter-gst::
	cp -ar debian/tmp/usr/lib/gstreamer-0.10/* \
		debian/libcutter-gst/usr/lib/gstreamer-0.10/
