Redirect permanent /debian/ http://downloads.sourceforge.net/project/cutter/debian/
Redirect permanent /ubuntu/ http://downloads.sourceforge.net/project/cutter/ubuntu/
Redirect permanent /centos/ http://downloads.sourceforge.net/project/cutter/centos/
Redirect permanent /fedora/ http://downloads.sourceforge.net/project/cutter/fedora/
