/*.bak
/.xml2po.mo
/cutter-decl-list.txt
/cutter-decl.txt
/cutter-sections.txt
/cutter-undeclared.txt
/cutter-undocumented.txt
/cutter-unused.txt
/cutter.args
/cutter.hierarchy
/cutter.interfaces
/cutter.prerequisites
/cutter.signals
/features.xml
/features.xml.ja
/html
/html-build.stamp
/html.stamp
/ja
/main.sgml
/news.xml
/news.xml.ja
/readme.xml
/readme.xml.ja
/scan-build.stamp
/sgml-build.stamp
/sgml.stamp
/tmpl
/tmpl-build.stamp
/tmpl.stamp
/tutorial.xml
/tutorial.xml.ja
/users.xml
/users.xml.ja
/version.xml
/xml
